/* Demo CSS */
* {margin: 0;}

html, body {height: 100%;}

body {font-size: 15px; padding: 0;}

.footer, .push {height: 10em;}
.footer {background-color: #49dcc4; color: #fff;}
.footer-container {margin: 0 auto !important; width: 900px; min-height: 100%; height: auto !important; height: 100%;}

table {font-size: 13px;}

.main {background-image: url('../img/satinweave.png');}
.container {margin: 0 auto -4em; max-width: 75%; min-height: 100%; height: auto !important; height: 100%;}
.container > hr {margin: 0;}

.header {display: inline-block; width: 100%; height: 100px; background-color: #fff;}
.header-container {height: 100%; width:100%; padding: 12px 20px; border-bottom: 2px solid #13274B;}
.header-left {float: left; width: 33%; padding-left: 25px;}
.header-right {float: right; width: 33%; padding-right: 20px; text-align: right;}
.header-center {display: inline-block; width: 33%; text-align: center;} 
.header-logo {float: left; background-image: url('../img/voyagur-plane-logo.png'); background-repeat: no-repeat; width: 100px; height: 100px;}
.header-title {float: left;}
.header-navi {display: inline-block; margin-top: 20px;}
.header-login {display: inline-block; margin-top: 32px;}

.where-are-we-box {
    position: relative;
    left: -20px;
    top: -20px;
    background-color: #bbb;
    padding: 10px 15px;
    display: inline-block;
}

.bold {
    font-weight: bold;
}
