/* Demo CSS */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
}

table {
    font-size: 13px;
}

.container {margin: 0 auto; max-width: 900px;}
.container > hr {margin: 30px 0;}

.where-are-we-box {
    position: relative;
    left: -20px;
    top: -20px;
    background-color: #bbb;
    padding: 10px 15px;
    display: inline-block;
}

.bold {
    font-weight: bold;
}
